In [1]:
import pandas as pd
import numpy as np


#define data classes:
@dataclass
class Run:
    id: int
    decay: float
    touchTransferFraction: float
    counts: list[int]
    occupancies: list[int]
    cdffs: list[int]
    anyCps: list[int]

@dataclass
class Sample:
        run: int
        startDay: int
        decay: float
        touchTransferFractions: float
        counts: list[int]
        occupancies: list[int]
        cdiffs: list[int]
        anyCps: list[int]
        )

SyntaxError: unmatched ')' (3476384.py, line 26)

In [45]:
# read the simulated data into a dataframe.  Indexed on the run and sorted by tick.

data = pd.read_csv('data/sim_data.csv', index_col=['run']).sort_index().sort_values(by="tick")
data.head()

     count  tick  decayRate  surfaceTransferFraction  CDIFF  occupancy  anyCP
run
16    23.0  90.0   0.590993                 0.939448    0.0         15    2.0
8      0.0  90.0   0.789146                 0.665336    0.0         15    5.0
6      2.0  90.0   0.728805                 0.799395    0.0         16    3.0
19     5.0  90.0   0.781537                 0.443818    2.0         12    2.0
2      0.0  90.0   0.539657                 0.258963    0.0         20    4.0

In [44]:
# How many runs do we have and what are their lengths?
for i in data.index.unique():
    print(i, ": ", len(data.loc[i]))

16 :  276
8 :  276
6 :  276
19 :  276
2 :  276
13 :  276
18 :  276
12 :  276
20 :  276
14 :  276
4 :  276
3 :  276
10 :  276
15 :  276
7 :  276
11 :  276
1 :  276
5 :  276
9 :  276
21 :  276
17 :  276

In [64]:
#define a function to split the sequences into lists of n steps (we have 56 days of observed data)
#we will split the simulated data into sequences n long (90-136, 91-137, 92-138, etc.)

def split_sequences(run, number_of_steps):
    start = int(run.tick.min())
    end = int(run.tick.max())-int(number_of_steps)
    # print(start, "-", end)
    
    run_sequence = [[]]
    for i in np.arange(start, end):
        # create a list of lists for this run
        print(i, "-", i+number_of_steps)

In [65]:
split_sequences(data.loc[1]  , 46)

#run = 15
#ticks = data.loc[run]
#print(ticks)

90 - 136
91 - 137
92 - 138
93 - 139
94 - 140
95 - 141
96 - 142
97 - 143
98 - 144
99 - 145
100 - 146
101 - 147
102 - 148
103 - 149
104 - 150
105 - 151
106 - 152
107 - 153
108 - 154
109 - 155
110 - 156
111 - 157
112 - 158
113 - 159
114 - 160
115 - 161
116 - 162
117 - 163
118 - 164
119 - 165
120 - 166
121 - 167
122 - 168
123 - 169
124 - 170
125 - 171
126 - 172
127 - 173
128 - 174
129 - 175
130 - 176
131 - 177
132 - 178
133 - 179
134 - 180
135 - 181
136 - 182
137 - 183
138 - 184
139 - 185
140 - 186
141 - 187
142 - 188
143 - 189
144 - 190
145 - 191
146 - 192
147 - 193
148 - 194
149 - 195
150 - 196
151 - 197
152 - 198
153 - 199
154 - 200
155 - 201
156 - 202
157 - 203
158 - 204
159 - 205
160 - 206
161 - 207
162 - 208
163 - 209
164 - 210
165 - 211
166 - 212
167 - 213
168 - 214
169 - 215
170 - 216
171 - 217
172 - 218
173 - 219
174 - 220
175 - 221
176 - 222
177 - 223
178 - 224
179 - 225
180 - 226
181 - 227
182 - 228
183 - 229
184 - 230
185 - 231
186 - 232
187 - 233
188 - 234
189 - 235
190 - 236
191 - 237
192 - 238
193 - 239
194 - 240
195 - 241
196 - 242
197 - 243
198 - 244
199 - 245
200 - 246
201 - 247
202 - 248
203 - 249
204 - 250
205 - 251
206 - 252
207 - 253
208 - 254
209 - 255
210 - 256
211 - 257
212 - 258
213 - 259
214 - 260
215 - 261
216 - 262
217 - 263
218 - 264
219 - 265
220 - 266
221 - 267
222 - 268
223 - 269
224 - 270
225 - 271
226 - 272
227 - 273
228 - 274
229 - 275
230 - 276
231 - 277
232 - 278
233 - 279
234 - 280
235 - 281
236 - 282
237 - 283
238 - 284
239 - 285
240 - 286
241 - 287
242 - 288
243 - 289
244 - 290
245 - 291
246 - 292
247 - 293
248 - 294
249 - 295
250 - 296
251 - 297
252 - 298
253 - 299
254 - 300
255 - 301
256 - 302
257 - 303
258 - 304
259 - 305
260 - 306
261 - 307
262 - 308
263 - 309
264 - 310
265 - 311
266 - 312
267 - 313
268 - 314
269 - 315
270 - 316
271 - 317
272 - 318
273 - 319
274 - 320
275 - 321
276 - 322
277 - 323
278 - 324
279 - 325
280 - 326
281 - 327
282 - 328
283 - 329
284 - 330
285 - 331
286 - 332
287 - 333
288 - 334
289 - 335
290 - 336
291 - 337
292 - 338
293 - 339
294 - 340
295 - 341
296 - 342
297 - 343
298 - 344
299 - 345
300 - 346
301 - 347
302 - 348
303 - 349
304 - 350
305 - 351
306 - 352
307 - 353
308 - 354
309 - 355
310 - 356
311 - 357
312 - 358
313 - 359
314 - 360
315 - 361
316 - 362
317 - 363
318 - 364